@charset "UTF-8";
/* Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
/* Font - size */
/* Font - weight */
/* Color */
/* Transition */
* {
  letter-spacing: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  color: #000;
  background-color: #fff;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.res-inner {
  position: relative;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
}

/* input & selectbox & textarea
========================================================================== */
label {
  display: block;
  margin-bottom: 0.6rem;
  font-weight: 500;
}

input {
  width: 100%;
  height: 4.2rem;
  font-size: 1.4rem;
  padding: 1rem 0;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  border-style: solid;
}
input:focus, input:focus-visible {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: rgb(134, 76, 254);
}

input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email],
html input[type=button],
input[type=reset] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: 0;
}

textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 1.4rem 0;
  width: 100%;
  height: 15rem;
  border-color: #ccc;
  resize: none;
  border-width: 0 0 1px 0;
  font-family: "Pretendard", sans-serif;
  font-size: 1.4rem;
}
textarea:focus, textarea:focus-visible {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: rgb(134, 76, 254);
}

::placeholder {
  color: #777;
  font-weight: 200;
}

/* 헤더
========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.4rem 0;
  z-index: 2;
  background: #fff;
  transition: all 0.1s ease-in-out;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 0;
}
.header.scrolled {
  padding: 0.8rem 0;
  background: #fafafa;
}
.header.scrolled .header__gnb {
  top: 4rem;
}
.header__gnb {
  position: fixed;
  top: 5.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background: rgba(227, 227, 227, 0.13);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  display: none;
}
.header__gnb--open {
  display: block;
}

.gnb {
  background-color: #ffffff;
  color: #000;
}
.gnb__btn img {
  width: 100%;
  height: 100%;
}
.gnb--open {
  display: block;
  transition: all 0.1s ease-in-out;
}
.gnb__open-btn {
  width: 1.7rem;
  height: 1.7rem;
}
.gnb__close-btn {
  display: none;
  width: 1.4rem;
  height: 1.4rem;
}
.gnb__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eaeaea;
}
.gnb__item {
  display: flex;
  font-size: 1.4rem;
}
.gnb__item a {
  width: 100%;
  padding: 1.5rem 2.5rem;
}

.logo {
  display: inline-block;
}
.logo__link {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}

/* 메인 비주얼
========================================================================== */
.main-visual {
  height: 100vh;
  position: relative;
}
.main-visual__title {
  font-size: 5rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1.6;
}

/* 공지 및 이벤트 바
========================================================================== */
.notice-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.notice-bar__left, .notice-bar__right {
  width: 100%;
}
.notice-bar__left {
  background-color: #000;
  color: #fff;
}
.notice-bar__left--inner {
  margin: 0 0 0 auto;
}
.notice-bar__right--inner {
  margin: 0 auto 0 0;
}
.notice-bar__inner {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
}
.notice-bar__title {
  font-weight: 500;
  flex-basis: 6.4rem;
}
.notice-bar__list {
  flex-grow: 1;
}
.notice-bar__more {
  padding: 1rem 0 1rem 1rem;
}
.notice-bar__more img {
  width: 14px;
  height: 14px;
}

.notice-slide {
  flex-grow: 1;
}

/* 섹션
========================================================================== */
.sec {
  margin: 6rem 0;
  padding: 5rem 0;
  overflow: hidden;
}
.sec__title-wrapper {
  margin-bottom: 4rem;
}
.sec__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.sec__sub-title {
  font-size: 1.6rem;
  line-height: 1.4;
}
.sec__slide {
  position: relative;
}
.sec__btn {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  border-radius: 1000px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: rgb(134, 76, 254);
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.sec__btn:hover {
  background-color: rgb(108, 44, 235);
  transition: all 0.2s ease-in-out;
}

/* 슬라이드
========================================================================== */
.slide {
  overflow: visible;
  padding: 2rem 0;
  margin: 0 -1.5rem;
}
.slide__item {
  width: 30rem;
  height: 36rem;
  padding: 3rem;
  margin: 0 1.5rem;
  border-radius: 1.4rem;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.slide__item:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.2);
}
.slide__item a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.slide__title {
  font-size: 2.6rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.slide__title--white {
  color: #fff;
}
.slide__sub-title {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}
.slide__sub-title--white {
  color: #fff;
}
.slide__next, .slide__prev {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  color: #fff;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.slide__next:hover, .slide__prev:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.slide__next:after, .slide__prev:after {
  font-family: swiper-icons;
  font-size: 2.3rem;
}
.slide__next:after {
  content: "next";
  margin-right: -0.3em;
}
.slide__prev:after {
  content: "prev";
  margin-left: -0.3em;
}
.slide__disabled {
  display: none;
}

.bar-slide {
  flex-grow: 1;
  overflow: hidden;
}
.bar-slide__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 적용 */
}
.bar-slide__item a:hover {
  text-decoration: underline;
}
.bar-slide .swiper-wrapper {
  height: 4rem;
}

/* 모달
========================================================================== */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}
.modal__content {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 45rem;
  border-radius: 1rem;
  padding: 2rem;
  z-index: 9998;
}
.modal__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}
.modal__close img {
  width: 1.2rem;
  height: 1.2rem;
}
.modal__img {
  width: 100%;
  height: 24rem;
  margin-bottom: 2rem;
}
.modal__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__text {
  line-height: 1.5;
}
.modal__info-licenses {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #999;
}

/* 행성 정보
========================================================================== */
.planet-slide .slide__item:nth-child(1) {
  background-image: url("../images/planet/planet_neptune.jpg");
}
.planet-slide .slide__item:nth-child(2) {
  background-image: url("../images/planet/planet_uranus.jpg");
}
.planet-slide .slide__item:nth-child(3) {
  background-image: url("../images/planet/planet_saturn.jpg");
}
.planet-slide .slide__item:nth-child(4) {
  background-image: url("../images/planet/planet_mars.jpg");
}
.planet-slide .slide__item:nth-child(5) {
  background-image: url("../images/planet/planet_venus.jpg");
}
.planet-slide .slide__item:nth-child(6) {
  background-image: url("../images/planet/planet_pluto.jpg");
}

/* 갤러리
========================================================================== */
.tab {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.tab__item {
  flex-basis: 25%;
  text-align: center;
  padding: 1.6rem 1rem;
  border-radius: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgb(134, 76, 254);
  letter-spacing: 2px;
  box-shadow: inset 0px -3px 0px 0px #ddd;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.tab__item.active {
  box-shadow: inset 0px -3px 0px 0px rgb(134, 76, 254);
}
.tab__item:last-child {
  margin-right: 0;
}

.gallery__top {
  margin-bottom: 2.4rem;
}
.gallery__wrapper {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.6rem;
}
.gallery__item {
  flex: 0 0 50%;
  padding: 0.6rem;
  display: block;
  transition: all 0.35s ease-in-out;
}
.gallery__img {
  display: block;
  border: 1px solid #ddd;
  height: 17rem;
}
.gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 질문 및 답변
========================================================================== */
.accordion__item {
  position: relative;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.accordion__item.active .accordion__top::after {
  transform: rotate(-180deg);
}
.accordion__item.active .accordion__body {
  padding: 1rem 6rem 2rem 0;
  max-height: 500px;
  opacity: 0.7;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.accordion__top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2.4rem 5rem 2.4rem 0;
  font-size: 1.4rem;
  text-align: left;
  cursor: pointer;
}
.accordion__top::after {
  position: absolute;
  top: 50%;
  margin-top: -0.6rem;
  right: 2rem;
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../images/arrow.png) no-repeat;
  background-size: 100%;
  transition: transform 0.2s linear;
}
.accordion__body {
  max-height: 0;
  overflow: hidden;
  font-size: 1.4rem;
  text-align: left;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/* 우주 여행 A-Z
========================================================================== */
.atoz-list {
  padding-top: 1rem;
}
.atoz-list__item {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.atoz-list__item--number {
  font-weight: 500;
}
.atoz-list__item mark {
  position: relative;
  background-color: transparent;
  columns: inherit;
}
.atoz-list__item mark span {
  display: inline-block;
  padding-left: 6px;
  white-space: nowrap;
}
.atoz-list__item mark span:nth-child(2) {
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
}
.atoz-list__item mark.active span:nth-child(2) {
  width: 100%;
  transition-delay: 0.1s;
  transition: width 0.7s;
  background-color: rgb(134, 76, 254);
  color: #fff;
  font-weight: 200;
}

/* 문의하기
========================================================================== */
.contact__form-row {
  display: flex;
  flex-direction: column;
}
.contact__form-row .contact__form {
  width: 100%;
}
.contact__form {
  margin-bottom: 3.5rem;
}

.error__empty {
  padding-top: 0.6rem;
  font-size: 1.4rem;
  color: rgb(134, 76, 254);
}

/* 포트폴리오 정보
========================================================================== */
.title-visual {
  padding: 30rem 0;
}
.title-visual__title-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.title-visual__title {
  font-size: 5rem;
  font-weight: 800;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
}
.portfolio__info {
  margin-bottom: 6rem;
}
.portfolio__info--left, .portfolio__info--right {
  flex-basis: 100%;
}
.portfolio__title {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.portfolio__item {
  margin-bottom: 1.6rem;
}
.portfolio__item a {
  color: #0069ff;
  text-decoration: underline;
  font-weight: 500;
}
.portfolio__item a:hover {
  animation: none;
}
.portfolio__item--title {
  font-weight: 400;
  margin-bottom: 2rem;
}
.portfolio__item--sub-title {
  margin-bottom: 2rem;
}
.portfolio__item-sub {
  margin-bottom: 4rem;
}

/* 경력 및 기술
========================================================================== */
.skill {
  width: 50%;
}
.skill__wrapper {
  display: flex;
  flex-direction: column;
}
.skill__left, .skill__right {
  flex-basis: 100%;
}
.skill__content {
  margin-bottom: 5rem;
}
.skill__title {
  position: relative;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}
.skill__sub-title {
  margin-bottom: 1rem;
  line-height: normal;
  font-weight: 700;
  font-size: 1.6rem;
}
.skill__about {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.skill-list__item {
  margin-bottom: 3.6rem;
  line-height: 2;
}

/* 그동안의 기록
========================================================================== */
.link__content {
  margin: 6rem 0;
}
.link__list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.link__list-item {
  flex-basis: 100%;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.link__list-item a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.link__list-item a:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.2);
}
.link__text {
  padding: 1.6rem;
  font-size: 1.4rem;
}
.link__text--title {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.link__img {
  height: 21rem;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #eaeaea;
}
.link__img--blog {
  background-image: url("../images/link/icon_tstory.png");
  background-color: #ef591b;
}
.link__img--github {
  background-image: url("../images/link/icon_github.png");
  background-color: #201f27;
}
.link__img--age-calculator {
  background-image: url("../images/link/age_thumbnail.png");
  background-color: #efefef;
  background-size: contain;
}

/* 일하는 법
========================================================================== */
.how-work__content {
  margin: 5rem 0;
}
.how-work__list-item {
  padding: 0 0 3rem 0;
  font-size: 1.6rem;
  line-height: 1.8;
}
.how-work__list-item--check {
  color: rgb(134, 76, 254);
  margin-right: 1rem;
}

/* 마무리 및 이력서
========================================================================== */
.sec__end {
  padding-top: 4rem;
}

.end__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.end__title {
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
  line-height: 1.8;
  margin-bottom: 6rem;
}

/* 애니메이션 효과
========================================================================== */
.animate {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.6s;
  transition-delay: 0.1s;
}
.animate__delay--2 {
  transition-delay: 0.2s;
}
.animate__delay--3 {
  transition-delay: 0.3s;
}
.animate__delay--4 {
  transition-delay: 0.4s;
}
.animate__delay--5 {
  transition-delay: 0.5s;
}
.animate__delay--6 {
  transition-delay: 0.6s;
}
.animate__delay--7 {
  transition-delay: 0.7s;
}

@keyframes rainbow {
  0% {
    color: rgb(255, 49, 210);
  }
  10% {
    color: rgb(255, 180, 42);
  }
  23% {
    color: rgb(255, 224, 49);
  }
  36% {
    color: rgb(193, 255, 70);
  }
  49% {
    color: rgb(4, 228, 4);
  }
  62% {
    color: rgb(95, 151, 255);
  }
  74% {
    color: rgb(180, 75, 255);
  }
  86% {
    color: rgb(255, 122, 255);
  }
  100% {
    color: rgb(255, 96, 96);
  }
}
/* 반응형 Media query
========================================================================== */
/* 모바일 가로 & 태블릿 세로 */
@media (min-width: 479px) {
  .sec {
    margin: 8rem 0;
  }
  .gallery__item {
    flex: 0 0 33.3%;
  }
  .atoz-list__item {
    margin-bottom: 4rem;
    font-size: 2.4rem;
  }
  .contact__form-row {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__form-row .contact__form {
    width: 48%;
  }
  .contact__form {
    margin-bottom: 5rem;
  }
  .link__list-item {
    flex-basis: 50%;
  }
  .sec__end {
    padding-top: 10rem;
  }
  .end__title {
    text-align: center;
    margin-bottom: 8rem;
  }
}
/* 태블릿 */
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  .main-visual__title {
    font-size: 9rem;
  }
  .title-visual__title {
    font-size: 7rem;
  }
  .notice-bar {
    flex-direction: row;
  }
  .notice-bar__left, .notice-bar__right {
    width: 50%;
  }
  .notice-bar__inner {
    max-width: 64rem;
    padding: 1.4rem 2rem;
  }
  .notice-bar__title {
    flex-basis: auto;
    margin-right: 2rem;
  }
  .notice-bar__more img {
    width: auto;
    height: auto;
  }
  .sec {
    margin: 12rem 0;
  }
  .sec__title-wrapper {
    margin-bottom: 6rem;
  }
  .sec__btn {
    padding: 2.4rem 1rem;
    font-size: 1.8rem;
  }
  .modal__content {
    padding: 3rem;
  }
  .tab__item {
    flex-basis: auto;
    padding: 1.2rem 6rem;
    margin-right: 2.4rem;
    border-radius: 100px;
    border-width: 1px 1px 1px 1px;
    color: rgb(134, 76, 254);
    box-shadow: none;
  }
  .tab__item.active {
    background-color: rgb(134, 76, 254);
    color: #fff;
    box-shadow: none;
  }
  .tab__item:hover {
    background-color: rgb(134, 76, 254);
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
  .gallery__img {
    height: 20rem;
  }
  .portfolio__wrapper {
    flex-direction: row;
  }
  .portfolio__info--left, .portfolio__info--right {
    flex-basis: 50%;
  }
  .portfolio__title {
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }
  .portfolio__item-sub {
    margin-bottom: 5rem;
  }
  .skill__wrapper {
    flex-direction: row;
  }
  .skill__left, .skill__right {
    flex-basis: 50%;
  }
  .skill__content {
    margin-bottom: 3rem;
  }
  .how-work__list-item {
    padding: 3rem 0;
    font-size: 2rem;
  }
  .end__title {
    font-size: 4rem;
  }
}
/* 데스크탑 */
@media (min-width: 1024px) {
  .res-inner {
    max-width: 1280px;
  }
  .header .res-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .header__gnb {
    position: relative;
    top: 0 !important;
    bottom: auto;
    display: block;
    background-color: transparent;
    backdrop-filter: none;
  }
  .header.scrolled {
    padding: 0.4rem 0;
    background: rgba(246, 246, 246, 0.6);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .gnb {
    position: relative;
    display: block;
    top: 0;
    background-color: transparent;
  }
  .gnb__list {
    flex-direction: row;
    border-bottom: 0;
  }
  .gnb__item a {
    width: auto;
    padding: 1rem 2.5rem;
  }
  .gnb__btn {
    display: none !important;
  }
  .main-visual {
    margin-top: -6.8rem;
  }
  .title-visual__title {
    font-size: 9rem;
  }
  .sec {
    margin: 16rem 0;
  }
  .sec__title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .sec__sub-title {
    font-size: 1.8rem;
  }
  .slide__item {
    width: 38rem;
    height: 45rem;
  }
  .gallery__top {
    margin-bottom: 4rem;
  }
  .gallery__item {
    flex: 0 0 25%;
  }
  .atoz-list {
    padding-top: 2rem;
  }
  .atoz-list__item {
    font-size: 3.6rem;
    margin-bottom: 6rem;
  }
  .accordion__item {
    padding: 0 2rem;
  }
  .accordion__item.active .accordion__body {
    font-size: 1.6rem;
  }
  .accordion__top {
    padding: 2.6rem 6rem 2.6rem 0;
    font-size: 1.6rem;
  }
  .accordion__top::after {
    margin-top: -1rem;
    width: 1.6rem;
    height: 1.6rem;
  }
  .accordion__body {
    font-size: 1.6rem;
  }
  .portfolio__item a:hover {
    animation: rainbow 2s infinite linear;
  }
  .link__content {
    margin: 10rem 0;
  }
  .link__list-item {
    flex-basis: 25%;
  }
  .sec__end {
    padding-top: 20rem;
  }
  .end__title {
    font-size: 6rem;
    line-height: 2;
  }
}
/* 웹접근성
========================================================================== */
/* 스크린리더에서만 읽혀지도록 숨김처리 */
.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}